body{
  line-height: 1.5;
  font-family:'Noto Sans TC',serif ;
  letter-spacing: 0.05rem;
  color: #212529;
}
.hero{
  padding: 151px 0;
  text-align: center;
  background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week1/hero.png?raw=true');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  line-height: 1.2;
  font-weight: 700;
}
.hero h2{
  margin-bottom: 16px;
  font-size: 40px;
}
.hero h3{
  font-size: 28px;
}
.main{
  padding: 64px 0;
}
.wrapper{
  max-width: 856px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.highlight{
  background-color: #F5FEE7;
  text-align: center;
  padding: 32px;
  border-radius: 4px;
}
.highlight h3{
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #57A203;
  margin-bottom: 12px;
}
.highlight p{
  margin-bottom: 4px;
}
.banner{
  display: block;
  margin: 0 auto;
  max-width: 1076px;
  margin-bottom: 24px;
}
.paragraph{
  padding-bottom: 48px;
  border-bottom: 1px solid #DEE2E6;
}
.paragraph h2{
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
}
.paragraph h3{
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #57A203;
}
.description p{
  margin-bottom: 16px;
}
.history li{
  list-style: disc inside;
  margin-bottom: 12px;
}
.history li span{
  padding-right: 8px;
  border-right: 1px solid #212529;
  margin-right: 8px;
}
.idea li{
  padding: 0 12px;
  border-left: 1px solid #DEE2E6;
  margin-bottom: 12px;
}
.story li{
  padding: 8px 0;
  font-weight: 500;
  color: #57A203;
}
.story li span{
  line-height: 1;
  font-size: 20px;
  vertical-align: middle;
  padding-right: 8px;
}
.story li a{
  text-decoration: none;
  color: #57A203;
  display: inline-block;
  padding-bottom: 3px;
  border-bottom: 1px solid #57A203;
}
.footer{
  padding: 64px 0;
  text-align: center;
  background-color: #F8F9FA;
  font-size: 14px;
  color: #6C757D;
}
.footer p{
  margin-bottom: 4px;
}